[submodule "themes/relearn"]
	path = themes/relearn
	url = https://github.com/pbelay/relearn.git
[submodule "themes/arberia"]
	path = themes/arberia
	url = https://github.com/antedoro/arberia.git
[submodule "themes/themes/relearn"]
	path = themes/themes/relearn
	url = https://github.com/pbelay/relearn
